
* {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  overflow-y: scroll;
}

.main {
  width: 100%;
  max-width: 1440px;
}

/* стили для шапки */

.header {
  width: 100%;
  max-width: 1440px;
  /* height: 120px; */
  display: flex;
  justify-content: center;
  background-color: #D2691E;
}

.header__container {
  width: 89.5%;
  display: flex;
  justify-content: start;
  padding: 38px 0 30px;
}

.header__logo {
  background-image: url("../img/logo@2x.png");
  background-size: 275px 52px;
  width: 275px;
  height: 52px;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 0 0 37px;
  padding: 12px 0 30px;
  position: relative;
  left: -7px;
}

.header__item {
  margin: 0 30px 20px 0;
  font-weight: 400;
  line-height: 24px;
  list-style-type: none;
}

.header__item a {
  color: #FFFFFF;
  text-decoration: none;
}

.header__item:last-child {
  margin: 0;
}

a[href^="tel:"] {
  width: 275px;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .header__logo {
    background-image: url("../img/logo.png");
  }

  .header__container {
    align-items: flex-end;
    justify-content: space-between;
    width: 80.5%;
    padding: 40px 0 30px;
  }

  .header__list {
    display: none;
  }

  a[href^="tel:"] {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .header__container {
    justify-content: space-between;
    width: 92%;
    padding: 15px 0 0;
    margin-bottom: 15px;
  }

  .header__logo {
    background-image: url("../img/logo__mobl.png");
    background-repeat: no-repeat;
    background-size: 114px 30px;
    width: 114px;
    height: 30px;
  }

  a[href^="tel:"] {
    width: 200px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
}


/* стили для секции hero */

.hero {
  width: 100%;
  min-height: 640px;
  /* padding: 125px 0 0 105px; */
  background: url('../img/8aeeb01611ea2b4e18fec01c12ba4bff.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__container {
  max-width: 890px;
  display: flex;
  flex-direction: column;
  padding: 125px 0 0 105px;
}

.hero__title {
  max-width: 694px;
  margin: 0;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  font-family: "Playfair Display", sans-serif;
}

.hero__text {
  max-width: 500px;
  margin: 31px 0 0;
  font-weight: 400;
  line-height: 24px;
}

.hero p:last-child {
  margin: 0;
}

.hero__button {
  width: 240px;
  height: 60px;
  margin: 30px 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #D2691E;
  font-weight: 500;
  line-height: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}


@media (max-width: 1350px) {
  .hero {
    min-height: 580px;
    display: flex;
    background-size: cover;
  }

  .hero__container {
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    padding: 0;
  }

  .hero__title {
    max-width: 618px;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
  }

  .hero__text,
  .hero p:last-child {
    margin-top: 32px;
    text-align: center;
  }

  .hero__button {
    margin-bottom: 0;
  }

}

@media (max-width: 600px) {
  .hero {
    min-height: 400px;
    background-size: cover;
    max-height: 400px;
    padding: 0;
  }

  .hero__container {
    justify-content: start;
    margin: 92px auto 0;
  }

  .hero__title {
    max-width: 345px;
    font-size: 35px;
    line-height: 42px;
  }

  .hero__text {
    max-width: 345px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__button {
    height: 50px;
  }
}

/* стили для секции events */

.events {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F0EAD6;
}

.events__container {
  display: flex;
  flex-direction: column;
  width: 86%;
  max-width: 1440px;
  margin: 60px 0;
}

.events__title {
  color: #513833;
  font-size: 35px;
  line-height: 42px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
}

.events__cards {
  max-width: 1230px;
  display: grid;
  justify-self: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 415px);
  gap: 0 30px;
  margin: 50px 0;
}

.events__card {
  position: relative;
  display: flex;
  align-items: end;
}

.events__card-box {
  margin: 25px 20px;
}


.events__card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.events__card-location {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  left: 20px;
  width: 110px;
  height: 32px;
  background-color: #D2691E;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
}

.events__card-location::before {
  content: url('../img/icon-location.svg');
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.events__card-duration, .events__card-title, .events__card-complexity, .events__card-star, .events__card-star_marked {
  position: relative;
  z-index: 10;
}

.events__card-duration {
  position: relative;
  z-index: 100;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.events__card-duration::before {
  content: url('../img/icon-calendar.svg');
  position: relative;
  top: 5px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.events__card-title {
  margin: 20px 0 35px;
  font-size: 24px;
  line-height: 28px;
  font-family: "Playfair Display", serif;
}

.events__link-courses {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #D2691E;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
}

.events__link-courses::after {
  content: url('../img/icon-arrow.svg');
  position: relative;
  top: 4px;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.events__card-stars {
  display: flex;
}

.events__card-star {
  background-image: url("../img/star.svg");
  width: 15px;
  height: 15px;
}

.events__card-star_marked {
  background-image: url("../img/star-marked.svg");
}
